name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  rust:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  c_api:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Build Rust lib
      run: cargo build -p staggrid-c-api --release
    - name: Generate header
      working-directory: staggrid-c-api
      run: cbindgen --output tests/staggrid.h
    - name: Build C tests
      working-directory: staggrid-c-api/tests
      run: |
        cmake -B build
        cmake --build build
    - name: Run C tests
      working-directory: staggrid-c-api/tests/build
      run: ctest

  python_api:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest]
        py: ["3.7", "3.8", "3.9", "3.10"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.py }}
    - name: Update pip
      run: python -m pip install -U pip
    - name: Install tox-gh
      run: python3 -m pip install tox-gh==0.0.4 tox==4.0.0a10
    - name: Run tests
      run: tox4 run
